span.menu img{
    width: 20px;
    height: 20px;
}

span.likes img {
    width: 20px;
    height: 20px;
}

span.dislikes img {
    width: 20px;
    height: 20px;
}

span.add_story {
    display: block;
    float: right;
    margin-right: 2.2em;
}

span.add_story img {
    width: 40px;
    height: 38px;
}

span.favorites img {
    width: 20px;
    height: 20px;
}

span.comments img {
    width: 20px;
    height: 20px;
}