/* story header */
header {
  height: 1em;
  margin: 0em;
  padding: 0em;
}

/* style */

html {
  background-color: #1F2833;
}

body {
  background-color: #edeff0;
  margin: 0em auto;
  width: 50em;
  height: auto;
}

#interests li{
  border-top: 5px solid #1F2833;
}

/* layout */
body {
  display: grid;
  grid-template-areas:
  "head head"
  "image name"
  "description story"
  "inter story"
  "foot foot";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 40px 1fr 1fr 3fr;
}

body > header {
  background-color: #edeff0;
  grid-area: head;
}

body > img {
  grid-area: image;
  height: 200px; 
  width: 200px;
  margin-left: 1em;
  border: 2px solid black;
  border-radius: 25px;
}

body > h3 {
  grid-area: name;
}

body > p {
  grid-area: description;
  margin-left: 1em;
  text-align: justify;
  text-indent: 25px;
}

#interests {
  grid-area: inter;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
}

#interests ul {
  display: flex;
  flex-direction: column;
}

#interests li {
  display: block;
  flex: 1;
}

#interests ul {
  margin: 0;
  padding: 0;
}

#interests li {
  text-align: center;
  list-style-type: none;
  padding: 1em 0;
}

#stories {
  grid-area: story;
}

body > footer {
  grid-area: foot;
}