/* story header */
header {
  height: 1em;
  margin: 0em;
  padding: 0em;
}

/* style */

html {
  background-color: #1F2833;
}

body {
  background-color: #edeff0;
  margin: 0em auto;
  width: 50em;
  height: auto;
}

#interests li{
  border-top: 5px solid #1F2833;
}

#presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#presentation > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#presentation input[type="submit"] {
  width: 50%;
  padding: 0.5em 0.5em;
}

body {
  display: grid;
  grid-template-areas:
  "head head"
  "image name"
  "inter story"
  ". story"
  "foot foot";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto auto auto auto;
}

body > header {
  background-color: #1F2833;
  grid-area: head;
  margin-bottom: 0.2em;
  margin-right: 0em;
  padding-bottom: 1.5em;
}

#profile_photo img {
  height: 200px; 
  width: 200px;
  margin-top: 2em;
  margin-left: 2em;
  border: 2px solid black;
  border-radius: 25px;
}

body > header#profile_photo {
  grid-area: image;
}

#profile_name {
  grid-area: name;
  text-align: center;
  margin: 1em;
}

#profile_name form {
  text-align: left;
}

#presentation p {
  text-align: center;
  text-indent: 25px;
  font-family: "Times New Roman";
}

#presentation p:after, #presentation p:before {
  content: '\201C';
  font-size: 2.8em;
  position: relative;
  top: 15px;
  color: #ccc;
}

#interests {
  grid-area: inter;
  text-align: center;
}

#interests h4{
  font-family: "Georgia";
  font-size: 1.2em;
  margin-top: 3em;
  margin-bottom: 1em;
}

#interests ul {
  display: flex;
  flex-direction: column;
}

#interests li {
  display: block;
  flex: 1;
}

#interests ul {
  margin: 0;
  padding: 0;
}

#interests li {
  text-align: center;
  list-style-type: none;
  padding: 1em 0;
}

#profile_stories {
  grid-area: story;
  text-align: center;
}

body > footer {
  grid-area: foot;
}

#profile_name > h3 {
  font-family: "Georgia";
  font-size: 1.5em;
}

#profile_name > h4 {
  font-family: "Georgia";
  font-size: 0.8em;
}