body > header {
    background-color: #07dabd;
    color: black; 
    padding: 0.6em;
    font-family: "Georgia";
}

form {
    background-color: rgb(216, 196, 196);
}

label{
    margin: 0.5em;
    padding: 0.8em;
    display: block;
    font-size: 1em;
    font-family: "Georgia";
}

input[type=checkbox]{
    padding: 0.8em;
}

input[type=submit] {
    width: auto;
  
    background-color: black;
    color: #07dabd;
  
    border: none;
    margin: 1em;
    padding: 0.8em;
    margin-left: 2em;
}

#login h2 {
    margin: 2em 1em 1em 1em;
    font-family: "Georgia";
}